.lynnSheNail {
    width: 100%;
    background-color: #f2ede7;
    text-align: center;
}

.lynnSheNail_page1 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-image: url(../img/shenail_banner1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #f2ede7;
}

.lynnSheNail_page1_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.sheNail_video {

    position: relative;
    padding-bottom: 60%;
}

.sheNail_video video,
.sheNail_video_mobile video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.lynnSheNail_page1_content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 650px;
    z-index: 2;
}

@media (max-width: 418px) {
    .lynnSheNail_page1_content {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 650px;
        z-index: 2;
    }
}

.lynnSheNail_page1_title {
    color: #fff;
    font-size: 36px;
    letter-spacing: 6px;
    line-height: 80px;
    text-shadow: 4px 4px 0.2em #000;
    font-weight: 600;
}

@media (max-width: 630px) {
    .lynnSheNail_page1_title {
        color: #fff;
        font-size: 21px;
        letter-spacing: 2px;
        line-height: 40px;
        text-shadow: 4px 4px 0.2em #000;
        font-weight: 600;
    }
}

@media (max-width: 414px) {
    .lynnSheNail_page1_title {
        color: #fff;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 30px;
        text-shadow: 4px 4px 0.2em #000;
        font-weight: 600;
    }
}

.lynnSheNail_page1_title>ul>li:nth-child(1) {
    margin-left: 30%;
}

.lynnSheNail_page1_title>ul>li:nth-child(3) {
    margin-left: 15%;
}

.lynnSheNail_page2 {
    position: relative;
    width: 100%;
    height: 865px;
    background-image: url(../img/shenail_bg1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 1124px) {
    .lynnSheNail_page2 {
        position: relative;
        width: 100%;
        height: 785px;
        background-image: url(../img/shenail_bg1.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

@media (max-width: 960px) {
    .lynnSheNail_page2 {
        position: relative;
        width: 100%;
        height: 680px;
        background-image: url(../img/shenail_bg1.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

@media (max-width: 780px) {
    .lynnSheNail_page2 {
        position: relative;
        width: 100%;
        height: 1000px;
        background-image: url(../img/shenail_bg1.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

@media (max-width: 520px) {
    .lynnSheNail_page2 {
        position: relative;
        width: 100%;
        height: 705px;
        background-image: url(../img/shenail_bg1.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.lynnSheNail_page2_text {
    position: absolute;
    width: 100%;
    max-width: 700px;
    color: #a67b68;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 52px;
    font-weight: 600;
    border: 1px solid #a67b68;
    background-color: #fff;
    margin: auto;
    padding: 30px 0;
    top: 5%;
    left: 50%;
    margin-left: -350px;
    z-index: 2;
}

@media (max-width: 960px) {
    .lynnSheNail_page2_text {
        position: absolute;
        width: 100%;
        max-width: 700px;
        color: #a67b68;
        font-size: 21px;
        letter-spacing: 1px;
        line-height: 48px;
        font-weight: 600;
        border: 1px solid #a67b68;
        background-color: #fff;
        margin: auto;
        padding: 30px 0;
        top: 5%;
        left: 50%;
        margin-left: -350px;
        z-index: 2;
    }
}

@media (max-width: 780px) {
    .lynnSheNail_page2_text {
        position: absolute;
        width: 90%;
        max-width: 700px;
        color: #a67b68;
        font-size: 21px;
        letter-spacing: 1px;
        line-height: 48px;
        font-weight: 600;
        border: 1px solid #a67b68;
        background-color: #fff;
        margin: auto;
        padding: 20px 0;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}

@media (max-width: 520px) {
    .lynnSheNail_page2_text {
        position: absolute;
        width: 90%;
        max-width: 700px;
        color: #a67b68;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 30px;
        font-weight: 600;
        border: 1px solid #a67b68;
        background-color: #fff;
        margin: auto;
        padding: 20px 0;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}

.lynnSheNail_page2_item {
    position: absolute;
    width: 100%;
    top: 30%;
    background-color: rgba(166, 123, 104, 0.7);
    z-index: 1;
}

@media (max-width: 780px) {
    .lynnSheNail_page2_item {
        position: absolute;
        width: 100%;
        top: 20%;
        background-color: rgba(166, 123, 104, 0.7);
        z-index: 1;
    }
}

@media (max-width: 520px) {
    .lynnSheNail_page2_item {
        position: absolute;
        width: 100%;
        top: 14%;
        background-color: rgba(166, 123, 104, 0.7);
        z-index: 1;
    }
}

.lynnSheNail_page2_item1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 100px 0 50px 0;
}

@media (max-width: 520px) {
    .lynnSheNail_page2_item1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 100px 0 30px 0;
    }
}

.lynnSheNail_page2_item1>ul {
    margin: 0 20px;
}

@media (max-width: 520px) {
    .lynnSheNail_page2_item1>ul {
        margin: 10px 20px;
    }
}

.lynnSheNail_page2_item1>ul>li {
    color: #fff;
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 48px;
    font-weight: 600;
}

@media (max-width: 960px) {
    .lynnSheNail_page2_item1>ul>li {
        color: #fff;
        font-size: 21px;
        letter-spacing: 4px;
        line-height: 36px;
        font-weight: 600;
    }
}

@media (max-width: 520px) {
    .lynnSheNail_page2_item1>ul>li {
        color: #fff;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 24px;
        font-weight: 600;

    }
}

.lynnSheNail_page2_item1>ul>li>img {
    width: 100%;
    max-width: 335px;
}

@media (max-width: 1124px) {
    .lynnSheNail_page2_item1>ul>li>img {
        width: 100%;
        max-width: 280px;
    }
}

@media (max-width: 960px) {
    .lynnSheNail_page2_item1>ul>li>img {
        width: 100%;
        max-width: 220px;
    }
}

@media (max-width: 520px) {
    .lynnSheNail_page2_item1>ul>li>img {
        width: 100%;
        max-width: 130px;
    }
}

.lynnSheNail_search1 span{
    color: #a67b68;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 60px;
    font-weight: 600;
    background-color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

@media (max-width: 960px) {
    .lynnSheNail_search1 span{
        color: #a67b68;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 60px;
        font-weight: 600;
        background-color: #fff;
        padding: 5px 10px;
        cursor: pointer;
        -o-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
    }
}

.lynnSheNail_search1:hover span{
    color: #fff;
    background-color: #a67b68;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}
@media (max-width: 414px) {
.lynnSheNail_search1:hover span{
    color: #a67b68;
    background-color: #fff;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}
}
.lynnSheNail_page3 {
    width: 100%;
    padding: 50px 0;
}

.lynnSheNail_page4 {
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/shenail_bg2.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 899px) {
    .lynnSheNail_page4 {
        width: 100%;
        padding: 30px 0;
        background-image: url(../img/shenail_bg2.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.lynnSheNail_page4_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.lynnSheNail_page4_img>img {
    width: 100%;
    max-width: 610px;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_img>img {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 899px) {
    .lynnSheNail_page4_img>img {
        width: 90%;
        max-width: 500px;
    }
}

.lynnSheNail_page4_content1 {
    background-color: #f2ede7;
    height: 520px;
    padding: 0 50px;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_content1 {
        background-color: #f2ede7;
        height: 426px;
        padding: 0 50px;
    }
}

@media (max-width: 899px) {
    .lynnSheNail_page4_content1 {
        width: 90%;
        max-width: 400px;
        background-color: #f2ede7;
        height: auto;
        padding:20px;
    }
}


.lynnSheNail_page4_content1_title>img {
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_content1_title>img {
        margin-top: 20px;
        width: 100%;
        max-width: 300px;
    }
}

.lynnSheNail_page4_content1_subtitle {
    color: #a67b68;
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 60px;
    font-weight: 600;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_content1_subtitle {
        color: #a67b68;
        font-size: 21px;
        letter-spacing: 2px;
        line-height: 40px;
        font-weight: 600;
    }
}

.lynnSheNail_page4_content1_text {
    color: #a67b68;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
    font-weight: 600;
    border: 1px solid #a67b68;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_content1_text {
        color: #a67b68;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 600;
        border: 1px solid #a67b68;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
}

@media (max-width: 899px) {
    .lynnSheNail_page4_content1_text {
        color: #a67b68;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 24px;
        font-weight: 600;
        border: 1px solid #a67b68;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1005px) {
    .lynnSheNail_page4_content1_btn {
        display: none;
    }
}

.lynnSheNail_page4_content1_btn1 {
    display: none;
}

@media (max-width: 1005px) {
    .lynnSheNail_page4_content1_btn1 {
        display: block;
    }
}

.lynnSheNail_page4_content1_btn>a {
    color: #fff;
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 36px;
    font-weight: 600;
    background-color: #a67b68;
    padding: 12px 20px;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_content1_btn>a {
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 36px;
        font-weight: 600;
        background-color: #a67b68;
        padding: 12px 20px;
        -o-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
    }
}

.lynnSheNail_page4_content1_btn>a>span {
    color: #a67b68;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
    font-weight: 600;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 3px 3px 0px #bdbdbd;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_content1_btn>a>span {
        color: #a67b68;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 36px;
        font-weight: 600;
        background-color: #fff;
        padding: 5px 10px;
        box-shadow: 3px 3px 0px #bdbdbd;
        -o-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
    }
}

.lynnSheNail_page4_content1_btn>a:hover>span {

    background-color: rgba(255, 255, 255, 0.7);
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.lynnSheNail_page4_content1_btn1>a {
    color: #fff;
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 36px;
    font-weight: 600;
    background-color: #a67b68;
    padding: 12px 20px;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_content1_btn1>a {
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 36px;
        font-weight: 600;
        background-color: #a67b68;
        padding: 12px 20px;
        -o-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
    }
}

.lynnSheNail_page4_content1_btn1>a>span {
    color: #a67b68;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
    font-weight: 600;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 3px 3px 0px #bdbdbd;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

@media (max-width: 1108px) {
    .lynnSheNail_page4_content1_btn1>a>span {
        color: #a67b68;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 36px;
        font-weight: 600;
        background-color: #fff;
        padding: 5px 10px;
        box-shadow: 3px 3px 0px #bdbdbd;
        -o-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
    }
}

.lynnSheNail_page4_content1_btn1>a:hover>span {
    background-color: rgba(255, 255, 255, 0.7);
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.lynnSheNail_page5 {
    width: 100%;
    position: relative;
    height: 0; position: relative;  overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;

}

@media (max-width: 1005px) {
    .lynnSheNail_page5 {
        display: none;
        width: 100%;
        height: 0; position: relative;  overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;
    }
}

:root .lynnSheNail_page5 .wrap {
    position: absolute;
    bottom: 0;
}

.lynnSheNail_page5 ul {
    margin: 0 10px;

}

.lynnSheNail_page5_step1,
.lynnSheNail_page5_step2,
.lynnSheNail_page5_step3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin: 50px 0;
}

.lynnSheNail_page5_step1>ul>li,
.lynnSheNail_page5_step2>ul>li,
.lynnSheNail_page5_step3>ul>li {
    color: #333;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    font-family: 微軟正黑體;
    text-align: left;
}

.lynnSheNail_page5_step1>ul>li:nth-child(2),
.lynnSheNail_page5_step2>ul>li:nth-child(2),
.lynnSheNail_page5_step3>ul>li:nth-child(2) {
    color: #a67b68;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 36px;
    font-family: 微軟正黑體;
}

.sheNail_step1 {
    width: 100%;
    max-width: 320px;
}

.sheNail_step2,
.sheNail_step10 {
    width: 100%;
    max-width: 170px;
}

.sheNail_step3,
.sheNail_step5,
.sheNail_step7 {
    width: 100%;
    max-width: 220px;
}

.sheNail_step4 {
    width: 100%;
    max-width: 200px;
}

.sheNail_step6,
.sheNail_step9 {
    width: 100%;
    max-width: 210px;
}

.sheNail_step8,
.sheNail_step11 {
    width: 100%;
    max-width: 140px;
}

.sheNail_step12 {
    width: 100%;
    max-width: 160px;
}

.lynnSheNail_page5_step2 {
    margin-left: -15%;
}

.lynnSheNail_page5_mobile {
    width: 100%;
    height: 0; position: relative;  overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;
}
:root .lynnSheNail_page5_mobile .wrap {
    position: absolute;
    bottom: 0;
}


.lynnSheNail_page5_mobile_step>ul {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

@media (max-width: 414px) {
    .lynnSheNail_page5_mobile_step>ul {
        width: 90%;
        max-width: 400px;
        margin: 20px auto;
    }
}

.lynnSheNail_page5_mobile_step>ul>li {
    color: #333;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    font-family: 微軟正黑體;
    text-align: left;
}

@media (max-width: 899px) {
    .lynnSheNail_page5_mobile_step>ul>li {
        color: #333;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 28px;
        font-family: 微軟正黑體;
        text-align: left;
    }
}

.lynnSheNail_page5_mobile_step>ul>li:nth-child(2) {
    color: #a67b68;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 36px;
    font-family: 微軟正黑體;
}

@media (max-width: 899px) {
    .lynnSheNail_page5_mobile_step>ul>li:nth-child(2) {
        color: #a67b68;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 24px;
        font-family: 微軟正黑體;
    }
}

:root .lynnSheNail_page5_mobile .wrap {
    position: absolute;
    bottom: 0;
}

.lynnSheNail_page6 {
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/shenail_bg3.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 899px) {
    .lynnSheNail_page6 {
        width: 100%;
        padding: 30px 0;
        background-image: url(../img/shenail_bg3.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.lynnSheNail_page6_title {
    color: #fff;
    font-size: 36px;
    letter-spacing: 6px;
    font-weight: 600;
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

@media (max-width: 899px) {
    .lynnSheNail_page6_title {
        color: #fff;
        font-size: 24px;
        letter-spacing: 2px;
        font-weight: 600;
        width: 100%;
        max-width: 700px;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    .lynnSheNail_page6_title {
        color: #fff;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 600;
        width: 100%;
        max-width: 360px;
        margin: auto;
        margin-bottom: 20px;
    }
}

.lynnSheNail_page6_title>ul>li {
    margin: 10px 0;
}

.lynnSheNail_page6_title>ul>li:nth-child(3) {
    margin: 0;
    text-align: right;
    margin-top: -30px;
}

@media (max-width: 899px) {
    .lynnSheNail_page6_title>ul>li:nth-child(3) {
        margin: 0;
        text-align: right;
        margin-top: -16px;
    }
}

@media (max-width: 690px) {
    .lynnSheNail_page6_title>ul>li:nth-child(3) {
        margin: 0;
        text-align: right;
        margin-top: -12px;
    }
}

.lynnSheNail_page6_title>ul>li>img {
    width: 100%;
    max-width: 170px;
    margin-right: 100px;
}

@media (max-width: 899px) {
    .lynnSheNail_page6_title>ul>li>img {
        width: 100%;
        max-width: 150px;
        margin-right: 200px;
    }
}

@media (max-width: 690px) {
    .lynnSheNail_page6_title>ul>li>img {
        width: 100%;
        max-width: 120px;
        margin-right: 65px;
    }
}

.lynnSheNail_page6_table img {
    width: 90%;
    max-width: 1000px;
}

.lynnSheNail_page7 {
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/shenail_bg4.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.lynnSheNail_page8 {
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/shenail_bg5.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.lynnSheNail_page8_title {
    color: #996b61;
    font-size: 36px;
    letter-spacing: 6px;
    font-weight: 600;
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 899px) {
    .lynnSheNail_page8_title {
        color: #996b61;
        font-size: 24px;
        letter-spacing: 2px;
        font-weight: 600;
        width: 100%;
        max-width: 700px;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    .lynnSheNail_page8_title {
        color: #996b61;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 600;
        width: 100%;
        max-width: 360px;
        margin: auto;
        margin-bottom: 20px;
    }
}

.lynnSheNail_page8_title>ul>li {
    margin: 10px 0;
}

.lynnSheNail_page8_title>ul>li:nth-child(3) {
    margin: 0;
    text-align: right;
    margin-top: -30px;
}

@media (max-width: 899px) {
    .lynnSheNail_page8_title>ul>li:nth-child(3) {
        margin: 0;
        text-align: right;
        margin-top: -25px;
    }
}

@media (max-width: 690px) {
    .lynnSheNail_page8_title>ul>li:nth-child(3) {
        margin: 0;
        text-align: right;
        margin-top: -20px;
    }
}

.lynnSheNail_page8_title>ul>li>img {
    width: 100%;
    max-width: 200px;
    margin-right: 210px;
}

@media (max-width: 899px) {
    .lynnSheNail_page8_title>ul>li>img {
        width: 100%;
        max-width: 150px;
        margin-right: 240px;
    }
}

@media (max-width: 690px) {
    .lynnSheNail_page8_title>ul>li>img {
        width: 100%;
        max-width: 100px;
        margin-right: 110px;
    }
}

.lynnSheNail_page9 {
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/shenail_bg6.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 690px) {
    .lynnSheNail_page9 {
        width: 100%;
        padding: 30px 0;
        background-image: url(../img/shenail_bg6.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.lynnSheNail_page9_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.lynnSheNail_page9_content1 {
    width: 100%;
    max-width: 350px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #f2ede7;
    margin: 20px;
}

.lynnSheNail_page9_title {
    color: #fff;
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: 600;
    background-color: #996b61;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 0;
}

@media (max-width: 780px) {
    .lynnSheNail_page9_title {
        color: #fff;
        font-size: 18px;
        letter-spacing: 4px;
        font-weight: 600;
        background-color: #996b61;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-top-right-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-topright: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 15px 0;
    }
}

.lynnSheNail_page9_subtitle {
    width: 250px;
    color: #996b61;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 600;
    text-align: left;
    margin: auto;
    margin-top: 20px;
}

@media (max-width: 780px) {
    .lynnSheNail_page9_subtitle {
        width: 250px;
        color: #996b61;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 600;
        text-align: left;
        margin: auto;
        margin-top: 20px;
    }
}

.lynnSheNail_page9_subtitle a {
    color: #996b61;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.lynnSheNail_page9_subtitle a:hover {
    color: #cc622d;
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.lynnSheNail_page9_step {
    width: 250px;
    color: #cc622d;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;
}

.lynnSheNail_page9_step ul {
    position: absolute;
    bottom: 0;
}

.lynnSheNail_page9_step>ul>li {
    margin: 5px 0;
}

.lynnSheNail_page10 {
    width: 100%;
}

.lynnSheNail_page10_content {
    width: 100%;
    max-width: 1000px;
    padding-bottom: 50px;
    background-image: url(../img/shenail_frame.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin: auto;
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    .lynnSheNail_page10_content {
        width: 100%;
        max-width: 1000px;
        padding-bottom: 50px;
        background-image: url();
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        margin: auto;
        margin-bottom: 50px;
    }
}

.lynnSheNail_page10_text {
    margin: auto;
    width: 100%;
    max-width: 500px;
    color: #91594c;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 48px;
}

@media (max-width: 500px) {
    .lynnSheNail_page10_text {
        margin: auto;
        width: 100%;
        max-width: 375px;
        color: #91594c;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 600;
        line-height: 36px;
    }
}

.lynnSheNail_page10_text>ul>li:nth-child(3) {
    line-height: 0px;
    text-align: right;
    margin-top: -10px;
    margin-right: 90px;
}

@media (max-width: 500px) {
    .lynnSheNail_page10_text>ul>li:nth-child(3) {
        line-height: 0px;
        text-align: right;
        margin-top: -5px;
        margin-right: 35px;
    }
}

.lynnSheNail_page10_text>ul {
    margin-bottom: 50px;
}

.lynnSheNail_page10_text img {
    width: 100%;
    max-width: 80px;
    margin: 0 10px;
}

.lynnSheNail_page11 {
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/shenail_bg7.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 600px) {
    .lynnSheNail_page11 {
        width: 100%;
        padding: 20px 0;
        background-image: url(../img/shenail_bg7.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.lynnSheNail_page11_text {}

.lynnSheNail_page11_text {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    color: #90594c;
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 50px;
    font-weight: 600;
    margin-top: 50px;
}

@media (max-width: 630px) {
    .lynnSheNail_page11_text {
        width: 90%;
        max-width: 1000px;
        color: #90594c;
        font-size: 18px;
        letter-spacing: 4px;
        line-height: 30px;
        font-weight: 600;
        margin-top: 30px;
    }
}

@media (max-width: 414px) {
    .lynnSheNail_page11_text {
        width: 90%;
        max-width: 1000px;
        color: #90594c;
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 30px;
        font-weight: 600;
        margin-top: 10px;
        text-align: left;
        width: 90%;
        margin: auto;
    }
}

.lynnSheNail_page11_item {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #fff6f2;
    padding: 30px;
    margin: 20px auto;
}

@media (max-width: 600px) {
    .lynnSheNail_page11_item {
        width: 90%;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background-color: #fff6f2;
        padding: 10px;
        margin: 20px auto;
    }
}

.lynnSheNail_page11_item_text {
    width: 100%;
    max-width: 680px;
    color: #91594c;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
    margin-left: 30px;
}

@media (max-width: 600px) {
    .lynnSheNail_page11_item_text {
        width: 90%;
        max-width: 680px;
        color: #91594c;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
        margin-left: 0;
    }
}

.lynnSheNail_page11_item_text>ul>li {
    margin: 20px 0;
}

.lynnSheNail_page11_item_text>ul>li>span {
    font-size: 24px;
    border-bottom: 1px solid #91594c;
    padding-bottom: 2px;

}

@media (max-width: 600px) {
    .lynnSheNail_page11_item_text>ul>li>span {
        font-size: 18px;
        border-bottom: 1px solid #91594c;
        padding-bottom: 2px;
    }
}

@media (max-width: 600px) {
    .lynnSheNail_page11_item_text>ul>li:nth-child(2) {
        text-align: left;
    }
}

.lynnSheNail_page11_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.lynnSheNail_page11_img img {
    width: 100%;
    max-width: 280px;
    margin: 10px;
}

@media (max-width: 1500px) {
    .lynnSheNail_page11_img img {
        width: 100%;
        max-width: 210px;
        margin: 10px;
    }
}

@media (max-width: 1150px) {
    .lynnSheNail_page11_img img {
        width: 100%;
        max-width: 160px;
        margin: 10px;
    }
}

@media (max-width: 900px) {
    .lynnSheNail_page11_img img {
        width: 100%;
        max-width: 120px;
        margin: 10px;
    }
}

.lynnSheNail_page12 {
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/shenail_bg8.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 600px) {
    .lynnSheNail_page12 {
        width: 100%;
        padding: 20px 0;
        background-image: url(../img/shenail_bg8.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.lynnSheNail_page12_priceList {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border: 1px solid #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #f2efeb;
    padding: 30px;
}

@media (max-width: 1000px) {
    .lynnSheNail_page12_priceList {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        border: 1px solid #fff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background-color: #f2efeb;
        padding: 20px;
    }
}

.lynnSheNail_page12_title {
    color: #90594c;
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: 600;
    margin-bottom: 10px;
}

@media (max-width: 630px) {
    .lynnSheNail_page12_title {
        color: #90594c;
        font-size: 28px;
        letter-spacing: 4px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

@media (max-width: 414px) {
    .lynnSheNail_page12_title {
        color: #90594c;
        font-size: 21px;
        letter-spacing: 2px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.lynnSheNail_page12_img {
    margin-top: 30px;
}

.lynnSheNail_page12_img img {
    width: 100%;
    max-width: 710px;
}